/***** 全局 *****/
* { padding:0; margin: 0; box-sizing: border-box; background: no-repeat 0 0; background-size: 100% auto; font-size: inherit; font-weight: normal; font-style: normal; text-decoration: none; line-height: inherit; }
html { height: 100%; font-size: 12px;}
body { height: 100%; overflow: hidden; background-color: #ddd; color: #222; font-family: arial; -webkit-user-select:none; user-select: none; }
li { list-style: none;}
q { quotes: none;}
a, input { -webkit-tap-highlight-color: transparent; }
.debug { display:none; position: absolute; top: 0; left: 0; z-index: 9999; max-width: 100%; background: rgba(0,0,0,0.7); color: #fff; font-size: 12px; line-height: 1.4em; padding: 0.5em; pointer-events: all; -webkit-user-select:all; user-select: all; }
.app { position: relative; width: 100%; height: 100%; margin: 0 auto; overflow: hidden; background-color: #fce9d1;}
.app>* { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;}
.app>*>* { position: absolute; top: 0; left: 0; width: 100%;}


/***** start load *****/
.load { -webkit-animation: fadeIn 0.2s 0.1s linear both; }
.load center { position: absolute; left: 0%; top: 50%; width: 100%; margin-top: -35%; }
.load figure { -webkit-animation: ani-load2 1s both ease-in-out infinite; width: 40%; padding-bottom: 45%; margin: 0 auto; background-image: url(../img/load1.png);}
.load h6 { font-size: 1.15em; font-weight: bold; margin-top: -8%; padding-left: 1.5em; }
.load h6 q {display: inline-block; vertical-align: middle; width: 1.5em; text-align: left; margin-left: 0.1em;}
.load h6 q span { -webkit-animation: ani-load1 0.8s linear infinite both; display: inline-block; white-space: nowrap; overflow: hidden; }
@-webkit-keyframes ani-load1{
	0%{ width: 0;}
	100%{ width: 100%;}
}
@-webkit-keyframes ani-load2{
	0%{ transform: translateY(-1.5%);}
	50%{ transform: translateY(1.5%);}
	100%{ transform: translateY(-1.5%);}
}


/***** 动画效果 *****/
.no_animation { -webkit-animation: none !important;}
@-webkit-keyframes Zindex { 0%{ transform: skewX(0); }}
@-webkit-keyframes fadeIn{
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}
@-webkit-keyframes fadeOut{
	0%{ opacity: 1;}
    100%{ opacity: 0;}
}
@-webkit-keyframes fadeIn-t{
    0%{ transform: translateY(-50%); opacity: 0;}
    100%{ transform: translateY(0); opacity: 1;}
}
@-webkit-keyframes fadeIn-b{
    0%{ transform: translateY(50%); opacity: 0;}
    100%{ transform: translateY(0); opacity: 1;}
}
@-webkit-keyframes fadeIn-l{
    0%{ transform: translateX(-50%); opacity: 0;}
    100%{ transform: translateX(0); opacity: 1;}
}
@-webkit-keyframes fadeIn-r{
    0%{ transform: translateX(50%); opacity: 0;}
    100%{ transform: translateX(0); opacity: 1;}
}
@-webkit-keyframes fadeIn-lt{
    0%{ transform: translate(-50%, -50%); opacity: 0;}
    100%{ transform: translate(0%, 0%); opacity: 1;}
}
@-webkit-keyframes fadeIn-rt{
    0%{ transform: translate(50%, -50%); opacity: 0;}
    100%{ transform: translate(0%, 0%); opacity: 1;}
}
@-webkit-keyframes fadeIn-lb{
    0%{ transform: translate(-50%, 50%); opacity: 0;}
    100%{ transform: translate(0%, 0%); opacity: 1;}
}
@-webkit-keyframes fadeIn-rb{
    0%{ transform: translate(50%, 50%); opacity: 0;}
    100%{ transform: translate(0%, 0%); opacity: 1;}
}
@-webkit-keyframes scaleIn1{
    0%{ transform: scale(5); opacity: 0;}
    100%{ transform: scale(1); opacity: 1;}
}
@-webkit-keyframes scaleIn2{
    0%{ transform: scale(0.2); opacity: 0;}
    70%{ transform: scale(1.2); opacity: 1;}
    100%{ transform: scale(1); opacity: 1;}
}
@-webkit-keyframes scaleIn3{
    0%{ transform: scaleX(0); opacity: 0;}
    100%{ transform: scaleX(1); opacity: 1;}
}
@-webkit-keyframes scaleIn4{
    0%{ transform: scaleY(0); opacity: 0;}
    100%{ transform: scaleY(1); opacity: 1;}
}
@-webkit-keyframes scaleOut1{
    0%{ transform: scale(1); opacity: 1;}
    100%{ transform: scale(5); opacity: 0;}
}
@-webkit-keyframes scaleOut2{
    0%{ transform: scale(1); opacity: 1;}
    70%{ transform: scale(3); opacity: 1;}
    100%{ transform: scale(2.5); opacity: 0;}
}
@-webkit-keyframes scaleLoop1{
    0%{ transform: scale(1); }
    50%{ transform: scale(1.1); }
    100%{ transform: scale(1); }
}
@-webkit-keyframes scaleLoop2{
    0%{ transform: scale(1); }
    50%{ transform: scale(0.9); }
    100%{ transform: scale(1); }
}
@-webkit-keyframes roundLoop1{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}
@-webkit-keyframes roundLoop2{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(-360deg); }
}
@-webkit-keyframes flashLoop1{
    0%{ opacity: 1; }
    50%{ opacity: 0; }
    100%{ opacity: 1; }
}
@-webkit-keyframes flashLoop1b{
    0%{ opacity: 1; }
    50%{ opacity: 0.5; }
    100%{ opacity: 1; }
}
@-webkit-keyframes flashLoop2{
    0%{ opacity: 0; }
    50%{ opacity: 1; }
    100%{ opacity: 0; }
}
@-webkit-keyframes flashLoop2b{
    0%{ opacity: 0.5; }
    50%{ opacity: 1; }
    100%{ opacity: 0.5; }
}
@-webkit-keyframes lineIn1{
    0%{ width: 0; }
    100%{ width: 100%; }   
}
@-webkit-keyframes lineIn2{
    0%{ height: 0; }
    100%{ height: 100%; }   
}
